body {
    background: black;
    color: white;
}

img {
    width: 250px;
}

.songContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3vw;
}

.songCard {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
}
